@media (min-width: 200px) and (max-width: 575px) {
    
}

@media (min-width: 576px) and (max-width: 767px) {
    
}

@media (min-width: 768px) and (max-width: 992px) {
    
}


@media (min-width: 993px) and (max-width: 1200px) {
    
}

@media (min-width: 1201px) and (max-width: 1399px) {
    
}

@media (min-width: 1400px) {
   
}



*{
  margin: 0;padding: 0;box-sizing: border-box;
}
#root{
 
  margin-left: 0%;
         margin-top: 0%;
         width : 100%;
        min-height: 90vh;
        background-repeat: no-repeat;
        background-size: cover; 
        /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
        background:linear-gradient(90deg, #4b6cb7 0%, #8FCDFF 100%);
        ;

}

/* ============ Header ============= */

#header{
  opacity: 0.5;
  background-size: cover;
  color: #fff;
  opacity: 0.9;
  min-height: 100vh;
}
.nav_menu .row ul li a{
  text-decoration:underline;
  color: black;
}
a{
  text-decoration: none;
  color: #fff;
}
.navigation{
  width: 66%;
  padding: 0,15px;
  margin: 0 0%;
  top: 0;
  align-items: cente;
  z-index: 1000;
}

.nav_menu .row ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.nav_menu h2 a.title{
   display: inline-block;
   text-align: center;
}
.nav_menu .col-md-3 input{
   display: none;
}
.nav_menu .row ul li a:hover{
  color: rgb(132, 165, 194);
}

.nav_bar li a:active{
  color: red !important;
}
/* ================= Main ================= */

/* =============== features ================= */

.feature{
  text-align: center;
  color: white;
}
.fa{
  color: rgb(70, 125, 125);
  margin: 25px 0;
  transform: scale(3);
}
.fa:hover{
 color:white;
}
/* ============ Categories ============== */
#category{
  background-size: cover;

}
.heading h3{
  padding: 20px;
  text-align: center;
}

#category .col-md-3{
  min-height: 200px;
  gap: 20px;
  transform: scale(0.8);
  transition: .5s;
}
#category .col-md-3 img{
  border-radius: 10px;
}
#category .col-md-3 > h5{
  text-align: center;
  color: #fff;
}
#category .col-md-3:hover{
  transform: scale(1);
  border-radius: 10px;
}
/* =========== contact page ========= */
.contact_row .map{
  background: transparent;
  padding: 20px;
}
.contact_form{
  padding: 25px;
}
.contact_form input, .contact_form textarea{
  background:transparent;
  margin-bottom: 15px;
  color: #fff;
}
.contact_form input::placeholder, .contact_form textarea::placeholder{
  color: aliceblue;
}
.contact_form input:focus, .contact_form textarea:focus{
  background: transparent;
  color: #fff;
}
/*  =========== login page ===========  */

#login-page .row .col-md-4{
  background-color: rgba(240, 238, 238,.2);
} 

#old_user_login, #reg_new_user{
  background: rgba(42, 39, 39,0.5);
}

#login-page .lead{
  text-align: center;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
} 
#login-page .lead:hover{
  color: rgb(255, 255, 255);
}
#login-page #login-bar{
  color: aqua;
} 

#login_page
.col-md-4,.col-6,.col-12{
  border-radius: 5px;
  border: 2px ridge rgb(154, 131, 99);
}
#login-page-toggle{
  overflow: hidden;
}

#login-page input{
  background-color: rgba(229, 216, 216, 0.5);
}
#login-page input:focus{
  background-color: rgb(194, 181, 181);
}
#login-page-toggle input[type="submit"]{
  padding: 5px 10px;
  border-radius: 5px;
}
#login-page-toggle input[type="submit"]:hover {
  background-color: aqua;
  outline: none;
}

#login-page input::placeholder{
  color: #fff;
}

/* =========== Footer ============== */
#footer{
  background-color: black;
  color: #fff;
 
}
.footer{
  opacity: 0.7;
}


/* ========= common properties ============= */
.search_job_header{
  padding-top: 100px;
}
.breakcrum_row{
  font: 900;
  font-size: 2rem;
  /* border: 1px solid red; */
}
/* ========= about ============= */
.about_row{
  background-color: rgba(183, 215, 215,.6);
  color: rgb(35, 31, 31);
  border-radius: 5px;
}
.about_img{
  margin-top: 15px;
}
.about_img img{
  border-radius: 30px;
}
.test_img{
  margin: auto;
  height: 100px;
  width: 100px;
}
.test_heading + .col-md-4 h2 strong{
  color: rgb(60, 53, 53);
  font: lighter;
}
.test_cols{
  color: rgb(40, 51, 61);
}
.test_img img{
  border-radius: 25px;
}
.test_Desc{
  text-align: center;
}
.test_name{
  text-align: center;
}

#straticstics{
  padding: 50px;
  color: rgb(37, 44, 44);
}
#newsletter{
  background-color: rgb(100, 223, 182);
  padding: 40px;
}
.news_letter input{
  position: relative;
}
.news_letter input:after{
  content: "Subscribe";
  position: absolute;
  right: 20;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: rgb(153, 18, 133);
}


/* ================ blog =============== */
.blog_cols{
  height: 400px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(216, 210, 210,.5);
}
.blog_cols img{
     border-radius: 15px; 
}
.blog_cols a{
  color: rgb(15, 100, 160);
}
#blogs{
  padding-bottom: 20px;
}


body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
  .form-signin-heading
.checkbox { 
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		  z-index: 2;
		}
	

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

/* old school */

.App-link {
  color: #156e87;
}

.hospitaldash{
  margin-left: 0%;
         margin-top: 0%;
         width : 100%;
        min-height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;      
}

.userdash{
         margin-left: 0%;
         margin-top: 0%;
         width : 100%;
        min-height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;      
}

.admindash{
         margin-left: 0%;
         margin-top: 0%;
         width : 100%;
         height:100%;
        min-height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;  
        
  
}

.signup{
  
         margin-left: 0%;
         margin-top: 0%;
         width : 100%;
        min-height: 90vh;
        background-repeat: no-repeat;
        background-size: cover; 
          
}

.login{

  margin-left: 0%;
         margin-top: 0%;
         width : 100%;
        min-height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;  
       
}

.homeban{
  margin-left: 0%;
         margin-top: 0%;
         width : 100%;
        min-height: 30%;
        background-repeat: no-repeat;
        background-size: cover;      
}

.banner {
  margin: 0px 0px 0px 0px;
  height: 90vh;
  background: rgba(0, 0, 0, 0.5);
}

.ban-img {
  width: 100%;
  height: 30%;
  object-fit: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about{
  background-color: #cbe4e1;
}

.loginform{
  background-color: #ADDBDA;
}

.addbed{
  background-color: #cbe4e1;
}

.button{
  margin-top: 530px;
 

}

.link{
  text-decoration: none;
}


.admindash{
  
         margin-left: 0%;
         margin-top: 0%;
         width : 100%;
        min-height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;      
}
table { background-color:white; }

td { background-color: #000; }



.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
 margin-top: 28vh;
 margin-left: 40vw;
 margin-bottom: 33vh;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(0, 0, 0);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

